<a href="@ViewBag.Footer.Link1Address">@ViewBag.Footer.Link1Text</a>
<a href="@ViewBag.Footer.Link2Address">@ViewBag.Footer.Link2Text</a>
<a href="@ViewBag.Footer.Link3Address">@ViewBag.Footer.Link3Text</a>
<a href="@ViewBag.Footer.Link4Address">@ViewBag.Footer.Link4Text</a>